<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VisionTFI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="loca" connectionString="Data Source=.\sqlexpress;Initial Catalog=VisionTFI;Integrated Security=True" />
      <add name="local" connectionString= "Data Source=DESKTOP-F8CBKLT;Initial Catalog=VisionTFI;Integrated Security=True;TrustServerCertificate=True"/>
      <add name="VisionTFI.Properties.Settings.VisionManagementConnectionString" connectionString="Data Source=LAPTOP-OSP4ALL9\SQLEXPRESS;Initial Catalog=VisionManagement;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="VisionTFI.Properties.Settings.VisionTFIConnectionString" connectionString="Data Source=DESKTOP-F8CBKLT;Initial Catalog=VisionTFI;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <VisionTFI.Properties.Settings>
            <setting name="lang" serializeAs="String">
                <value>es.txt,en.txt</value>
            </setting>
        </VisionTFI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>