<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisionTFI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="local" connectionString="Data Source=.\sqlexpress;Initial Catalog=VisionManagement;Integrated Security=True" />
    </connectionStrings>
    <userSettings>
        <VisionTFI.Properties.Settings>
            <setting name="lang" serializeAs="String">
                <value>es.txt,en.txt</value>
            </setting>
        </VisionTFI.Properties.Settings>
    </userSettings>
</configuration>